body{
    display: flex;
    height: 100vh;
    border-radius: 100px;
    border-style: solid;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 900px;
    text-align: center;
    margin: auto;
    background-color: aliceblue;
    /* background-color: rgb(196, 194, 194); */
    z-index: auto;
}
#gameBody{
    max-width: 1000px;
    display: flex;
    justify-content: center;

}
/* #wrapper{
    height:100vh;
    width: 100vw;
    background-color: rgb(196, 194, 194);
} */
#header{
    border-radius: 15px;
    border-style: solid;
    margin: 30px auto;
    font-size: 40px;
    text-align: center;
    width: 400px;
}
#areaB{
    text-align: center;
}
#frog{
    height: 50px; 
    width: 50px;
    top: 0px;
    left: 300px;
    color: aliceblue;
    position: relative;
    z-index:90;
}

#frog > img{
    height: auto;
    width: auto;
}
#stats{
    display: flex;
    height: 100px;
    background-color: darkgray;
    justify-content: space-evenly;
}
#gameArea{
    margin-top: 30px;
    margin-left: 0px;
    height: 600px;
    width: 800px;
    border-style: solid;
    border-radius: 10px;
    z-index:100;
}

#enemy{
    height: 50px;
    width: 50px;
    top: 0px;
    left: 500px;
    color: aliceblue;
    position: relative;
    z-index: 91;
}
#enemy2{
    height: 50px;
    width: 50px;
    top: 0px;
    left: 500px;
    color: aliceblue;
    position: relative;
    z-index: 91;
}
#enemy3{
    height: 50px;
    width: 50px;
    top: 0px;
    left: 500px;
    color: aliceblue;
    position: relative;
    z-index: 91;
}
#enemy4{
    height: 50px;
    width: 50px;
    top: 0px;
    left: 500px;
    color: aliceblue;
    position: relative;
    z-index: 91;
}


#road{
    height: 50px;
    /* border-style: dashed;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
    border-color: aliceblue; */
    background-image: url("../images/road.png");
    background-color: rgb(0,0,0);
}

#startArea{
    background-image: url("../images/grass.png");
    height: 50px;
    background-color: rgb(134,255,0);
}

#safeArea{
    background-image: url("../images/grass.png");
    height: 50px;
    background-color: rgb(134,255,0);
}

#river1{
    display: flex;
    height: 50px;
    background-image: url("../images/water.png");
    background-color: rgb(51,255,204);
}
#river2{
    display: flex;
    background-image: url("../images/water.png");
    height: 50px;
    background-color: rgb(51,255,204);
}
#river3{
    background-image: url("../images/water.png");
    height: 50px;
    background-color: rgb(51,255,204);
}


#finArea{
    background-image: url("../images/grass.png");
    height: 50px;
    z-index: 0;
    background-color: rgb(134,255,0);
}

#log{
    height: 50px;
    width: 150px;
    top: 0px;
    left: 500px;
    color: aliceblue;
    position: relative;
    z-index: 80;
}
#log2{
    height: 50px;
    width: 150px;
    top: 0px;
    left: -165px;
    color: aliceblue;
    position: relative;
}
#log3{
    height: 50px;
    width: 150px;
    top: 0px;
    left: 500px;
    color: aliceblue;
    position: relative;
}
#log4{
    height: 50px;
    width: 150px;
    top: 0px;
    left: -315px;
    color: aliceblue;
    position: relative;
}
#smlLog{
    height: 50px;
    width: 100px;
    top: 0px;
    left: 500px;
    background-color: rgb(97, 54, 0);
    color: aliceblue;
    position: relative;
}


img {
    height: 50px;
}

/* #testArea{
    background-color: black;
    height: 100px;
} */
#hidder{
    height: 650px;
    width: 250px;
    background-color: aliceblue;
    z-index: 999;
}

#startButton{
    margin: 20px auto;
    border-radius: 5px;
    border-style: solid;
    width: 80px;
    height: 20px;
}
#midStats{
    width: 70%;
    border-style: solid;
    
}
#rightStats{
    width: 15%;
    border-style: solid;
    
}
#leftStats{
    width: 15%;
    border-style: solid;
    
}